@model IEnumerable<dm.Models.Employees>
@{
    ViewData["Title"] = "Employee List";
   
}

<h1>Employee List</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>About</th>
            <th>Designation</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.About</td>
                <td>@employee.Designation</td>
                <td><img src="~/@employee.Image" style="max-width: 100px;" class="img-fluid" /></td>
                <td>
                    <a href="@Url.Action("EditEmployee", new { id = employee.Id })">Edit</a> |
                    <a href="@Url.Action("DeleteEmployee", new { id = employee.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

